.menu{
  &--open{
    .menu__list{
      display: flex;
    }

    .menu__open{
      display: none;
    }

    .menu__close{
      display: block;
    }
  }

  &__open{
    display: block;
    padding: 5px;

    @media (min-width: 641px) {
      display: none;
    }
  }

  &__close{
    display: none;
    padding: 5px;
  }

  &__list{
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: 641px) {
      display: flex;
      flex-direction: row;
    }
  }

  &__item{
    padding: 5px;
    border-top: 1px solid #ccc;

    @media (min-width: 641px) {
      display: flex;
      flex-direction: row;
      border-right: 1px solid #ccc;
    }
  }

  &__link{
    text-decoration: none;
    font-size: 30px;
  }
}