.page-one {
  text-align: center;
  
  &__header{
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
  }

  &__container{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;

    @media (min-width: 641px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
